body{
	background-image: url("./llk-pattern.png");
	background-size: 1500px;
    background-repeat: repeat;
    background-color: #000;
    font-family: 'Lato', Helvetica, sans-serif;
}

.main-container{
	min-height: 100vh;
}

#main-card{
	max-width: 600px;
}

#trailer-video{
	max-width: 500px;
}

#mc-embedded-subscribe{
	cursor: pointer;
}

#mc_embed_signup{
	max-width: 500px;
}