{% if wr.readings %}
  <p class="text-center mb-3">You might enjoy these additional materials</p>
{% endif %}

<div id="watch-container">
  {% for video in wr.videos %}
	    {% include components/video.html%}
	{% endfor %}
</div>

<div id="core-container" class="mt-5">
  {% for read in wr.readings %}
    <h4 class="ml-4 mt-4">
      {% if read.type == "video" %}
        <i class="fa fa-play-circle mr-2" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-book mr-2" aria-hidden="true"></i>
      {% endif %}

      <a href="{{read.link}}" onclick="trackOutboundLink('{{read.link}}'); return false;">{{read.name}}</a>
      <p>{{read.desc}}</p>
    </h4>
    {% if read.lang_links %}
      <p class="mt-3 ml-4">
        <i class="fa fa-globe mr-2" aria-hidden="true"></i>Also available in these languages:
        {% for l in read.lang_links %}
          <a href="{{l.link}}" onclick="trackOutboundLink('{{l.link}}'); return false;">{{l.language}}</a>
          {% if forloop.last == false %}
          ,
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

  {% endfor %}
</div>