<footer class="footer">
	<div class="container mt-5 mb-3">
		<div class="row">
			<div class="col-md-2 col-6">
				<h6 class="font-weight-bold">Share</h6>
				<p class="mb-2"><a href="#">Facebook</a></p>
				<p class="mb-2"><a href="#">Twitter</a></p>
				<p class="mb-2"><a href="#">Google+</a></p>
			</div>
			<div class="col-md-5 col-6">
				<h6 class="font-weight-bold">Helpful Links</h6>	
				<p class="mb-2"><a href="{{ site.baseurl }}{% link about.md %}">About</a></p>
				<p class="mb-2"><a href="{{ site.baseurl }}{% link faq.html %}">Frequently Asked Questions</a></p>
				<p class="mb-2"><a href="http://lcl-discuss.media.mit.edu">Forum</a></p>
				<p class="mb-2"><a href="{{ site.baseurl }}{% link map.html %}">Map</a></p>
			</div>
		</div>
		<div class="text-center mt-5">
			<small class="text-muted">Playfully created by the <a href="https://llk.media.mit.edu" target="_blank">Lifelong Kindergarten Group</a> and the <a href="http://learn.media.mit.edu" target="_blank">Learning Initiative</a> at <a href="https://www.media.mit.edu/" target="_blank">MIT Media Lab</a>.</small>
			<br>
			<small class="text-muted">All materials licensed under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 license</a>, unless otherwise noted.</small>
		</div>
	</div>
</footer>