<!-- Fixed navbar -->
{% assign current = page.url | downcase | split: '/' %}

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white py-3">
      <a class="navbar-brand font-weight-bold font-blue" href="{{ site.baseurl }}{% link index.html %}">
        <img src="{{ "/images/peg_green.svg" | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="LCL Logo"> Learning Creative Learning
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item btn">
            <a class="nav-link" href="http://lcl-discuss.media.mit.edu">Forum</a>
          </li>
          <li class="nav-item btn bg-grey font-weight-bold dropdown {% if current[1] == 'modules' %}active{% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {% if page.navbar-name %}
                {{page.navbar-name}}
              {% else %}
                Modules
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{{ site.baseurl }}{% link get-started.md %}">Getting Started</a>
              <div class="dropdown-divider"></div>
              {% for module in site.modules %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ module.url }}">
                  {{module.navbar-name}}
                  {% if site.current-module == module.id %}
                    <img id="current-week-indicator" src="{{ site.baseurl }}/images/peg_blue.svg" />
                  {% endif %}
                </a>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>