<!-- Fixed navbar -->
{% assign current = page.url | downcase | split: '/' %}

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white py-3">
      <a class="navbar-brand font-weight-bold font-blue" href="{{ site.baseurl }}{% link index.html %}">
        <img src="{{ "/images/lcl-logo.svg" | relative_url }}" height="50" class="d-inline-block align-top navbar-lcl-logo" alt="LCL Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item btn">
            <a class="nav-link" href="http://lcl-discuss.media.mit.edu">Forum</a>
          </li>
          <li class="nav-item btn bg-grey font-weight-bold dropdown {% if current[1] == 'weeks' %}active{% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {% if page.navbar-name %}
                {{page.navbar-name}}
              {% else %}
                Modules
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{{ site.baseurl }}{% link get-started.md %}">Getting Started</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week1">
                  1 - Introduction
                </a><!--
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week2">
                  2 - Projects
                </a>
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week3">
                  3 - Passion
                </a>
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week4">
                  4 - Peers
                </a>
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week5">
                  5 - Play
                </a>
                <a class="dropdown-item" href="{{ site.baseurl }}/weeks/week6">
                  6 - Creative Society
                </a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>