<div id="watch-container" class="row card-deck text-left">
  <!-- <h3>Watch</h3> -->
  {% for video in wr.videos %}
    <div class="card col-sm-10 mx-auto border-0 mb-3 d-flex flex-column justify-content-center">
	    {% include components/video.html%}
    </div>
	{% endfor %}
</div>

<div id="core-container" class="row card-deck mb-3 text-left">
  {% for read in wr.readings %}
  	{% include components/reading.html%}
  {% endfor %}
</div>

{% if wr.add-readings %}
  <div id="addition-container">
    <h4 class="mt-3">Additional Readings</h4>
    {% for read in wr.add-readings %}
      {% include components/reading.html%}
    {% endfor %}
  </div>
{% endif %}

{% if wr.download-zip-link %}
	<div class="row card-deck mb-3 text-left">
		<div class="card col-sm-10 mx-auto border-0">
  		<a href="{{wr.download-zip-link}}">Download all readings as a zip file</a>
  	</div>
  </div>
{% endif %}

{% if wr.think-prompt %}
	<div class="row card-deck mb-3 text-left">
  	<div class="card col-sm-10 mx-auto border-0">
    	<h4 class="card-title mt-2 mb-2">Think</h4>
    	<p class="card-text">{{wr.think-prompt}}</p>
    </div>
	</div>
{% endif %}
