<div id="watch-container">
  <!-- <h3>Watch</h3> -->
  {% for video in page.videos %}
	  <div>
	    <h4 class="part-header">{{video.title}}</h4>
	    <p>{{video.desc}}</p>
	    <div class="embed-responsive embed-responsive-16by9 my-3 border-0 rounded col-sm-4" id="trailer-video">
	      <iframe id="video-iframe" src="{{video.link}}" allowfullscreen></iframe>
	    </div>
	  </div>
	{% endfor %}
</div>

<div id="read-container">
  <!-- <h3>Read</h3> -->
  <div id="core-container">
    <h4 class="mt-2 mb-2">Core Readings</h4>
    {% for read in page.readings %}
      <div class="caption">
        <a href="{{read.link}}">{{read.title}}</a>
        <p>{{read.desc}}</p>
      </div>
    {% endfor %}
  </div>
  <div id="addition-container">
  	<!-- TODO(morant): this is a copy of readings, can we template it out? -->
    <h4 class="mt-3">Additional Readings</h4>
    {% for read in page.add-readings %}
      <div class="caption">
        <a href="{{read.link}}">{{read.title}}</a>
        <p>{{read.desc}}</p>
      </div>
    {% endfor %}
  </div>
  <a href="">Download all readings as a zip file</a>
</div>