<div id="watch-container">
  {% for video in wr.videos %}
	    {% include components/video.html%}
	{% endfor %}
</div>

<div id="core-container" class="mt-4">
  {% for read in wr.readings %}
  	{% include components/reading.html%}
  {% endfor %}
</div>

{% if wr.add-readings %}
  <div id="addition-container">
    <h4 class="mt-3">Additional Readings</h4>
    {% for read in wr.add-readings %}
      {% include components/reading.html%}
    {% endfor %}
  </div>
{% endif %}

{% if wr.download-zip-link %}
	<p>
		<i class="fa fa-download mr-2" aria-hidden="true"></i>
    <a href="{{wr.download-zip-link}}">Download all readings as a zip file</a>
	</p>
{% endif %}

{% if wr.think-prompt %}
	<div>
  	<h4 class="mt-4">Think</h4>
  	<p>{{wr.think-prompt}}</p>
  </div>
{% endif %}
