@charset "utf-8";

// Define defaults for each variable.

$grey-color:       #f0f4f6 !default;
$darker-grey:      darken($grey-color,5%);
$blue-color:       #008cff !default;

.font-blue{
  color: $blue-color !important;
}
.bg-grey{
  background-color: $grey-color;
}
.bg-black{
  background-color: #000;
}
html, body {
  margin: 0;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  // margin-bottom: 481px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}
p{
  line-height: 1.7em;
  font-size: 17px;
}
.lead{
  font-weight: 400;
}
.tall-jumbotron{
  padding-top: 100px;
  padding-bottom: 100px;
}
.jumbotron-subtitle{
  max-width: 900px;
  margin: auto;
}
.line-height-more{
  line-height: 1.25em;
}
.line-height-less{
  line-height: 0.9em;
}
.footer {
  margin-top: 37px;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 333px;
  background-color: $grey-color;

}

.grey-row {
  background-color: $grey-color;
}

.container, .container-fluid {
  margin: 0;
  padding: 0;
  max-width: none;
}
body > .container-pad-top {
  padding-top: 86px
}
.footer > .container {
  padding-top: 37px;
  padding-right: 50px;
  padding-left: 55px;
  padding-bottom: 37px;
}
.peg-background{
  background-color: transparent;
  background-image: url('#{$baseurl}/images/peg_pattern.svg');
  background-size: 1489px;
  position: relative;
  top: 30px;
  margin-bottom: 70px
}
.black-title-box {
  background-color: #000;
  margin-top: -30px;
}
#module-nav{
	top: 90px;
}
.map{
  height: 100vh;
}
#get-started-list>li {
  font-weight: bold;
  margin: 8px 0;
  .list-unstyled {
    font-weight: normal;
  }
}

.front-page-callout {
  font-size: 28px;
  margin-bottom: 12px;
}

.front-page-list-item {
  font-size: 20px;
}

.front-page-current-indicator {
  width: 22px;
  height: 22px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.map-row {
  height: 100vh;
}

#first-time-peg-1 {
  position: relative;
  top: 149px;
}

#first-time-peg-2 {
  position: relative;
  top: 100px;
}

#footer-peg-1 {
  position: relative;
  top: 11px;
  left: 49px;
}

#footer-peg-2 {
  position: relative;
  top: 60px;
}

#footer-peg-3 {
  position: relative;
  top: 60px;
}

#footer-peg-4 {
  position: relative;
  top: 109px;
}

/* Peg grid experiment */

#peg-grid {
  background-color: #000;
  display: grid;
  overflow: hidden;
  margin-bottom: 40px;

  img {
    padding: 0;
    margin: 0;
    width: 49px;
    height: 49px;
  }

}

.peg-grid-title {
  padding-left: 29px;
  padding-top: 17px;
  font-size: 36px;
  font-weight: bold;
  grid-row: 3 / 5;
  grid-column: 6 / 16;
  color: white;
}

.peg-grid-subtitle {
  padding-left: 29px;
  padding-top: 13px;
  font-size: 22px;
  grid-row: 6 / 8;
  grid-column: 6 / 19;
  color: white;
}

@media (max-width: 767px) {
  .peg-grid-title {
    grid-row: 2 / 6;
    grid-column: 2 / 7;
  }

  .peg-grid-subtitle {
    grid-row: 7 / 11;
    grid-column: 2 / 9;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .peg-grid-title {
    grid-row: 3 / 5;
    grid-column: 3 / 13;
  }

  .peg-grid-subtitle {
    grid-row: 6 / 8;
    grid-column: 3 / 16;
  }
}

/* Discourse Stuff for Front Page */

.conversation-row {
  margin-top: 36px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.conversation-title {
  padding-top: 10px;
  margin-bottom: 30px;
}

.discourse-post {
  margin-top: 60px;
  margin-bottom: 60px;
}

.speech-bubble {
  position: relative;
  padding: 15px;
  background-color: white;
  min-height: 160px;
  border-radius: 10px;

  .post-title {
    font-size: 22px;
    padding-left: 10px;
  }

  .post-content-box {
    position: relative;
  }

  .post-content {
    font-size: 18px;
    margin-top: 16px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .post-content:before {
    content:"\201C";
    position: absolute;
    display: block;
    top: -36px;
    left: 14px;
    font-size: 72px;
    color: $darker-grey;
  }
}

.speech-bubble:before {
  content: "";
  display: block;
  position: absolute;
  left: -35px;
  top: 40px;
  background-color: transparent;
  border-width:40px 35px 40px 0;
  border-style:solid;
  border-color:transparent white;
}

.post-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 20px;
  margin-right: 30px;
}
