<div class="embed-responsive embed-responsive-16by9 mx-auto border-0 rounded" id="trailer-video">
  <iframe id="video-iframe" src="{{video.link}}" allowfullscreen></iframe>
</div>
<h4 class="card-title part-header mt-4">{{video.title}}</h4>
{% if video.desc %}
	<p class="card-text">{{video.desc}}</p>
{% endif %}
{% if video.download-link %}
	<a href={{video.dowload-link}}>download the video</a>
{% endif %}
{% if video.show-subtitle-hint %}
	<p> * Subtitles are available in multiple languages, check out the FAQ to know more about translations.</p>
{% endif%}