---
layout: default
---
{% include components/title.html %}
<div class="container lcl-content">
	<div class="row justify-content-center">

		<!--div class="col-sm-10">
			{% assign video = page.video%}
			{% include components/video.html %}
		</div-->

		<div class="col-sm-10">
			<!--<h4 class="mt-2">Setting Up</h4>-->
			<h4>Here are some quick links that will help you get on board:</h4>

			<div class="ml-4 mt-4">
				<h5> Step 1:
					<a class="ml-2" href="http://eepurl.com/dChPl1"><i class="fa fa-envelope mr-2 mt-2" aria-hidden="true"></i>Sign up to get e-mail updates</a>
					(if you haven't already)
				</h5>
				<h5> Step 2:
					<a class="ml-2" href="http://lcl-discuss.media.mit.edu/t/round-2-introduce-yourself/707/"><i class="fa fa-comments-o mr-2 mt-2" aria-hidden="true"></i>Sign up and introduce yourself in the discussion forum</a>
				</h5>
				<h5> Step 3:
					<a class="ml-2" href="../#map"><i class="fa fa-map mr-2 mt-2" aria-hidden="true"></i>Add yourself to the map</a>
				</h5>

			</div>

			<!--p> And when you're done, <a href="../weeks/week1">start exploring Week 1</a></p-->
			<h5 class="mt-5">Questions?</h5>
			<p>If you have any questions, check out the <a href="../faq">FAQ</a>, ask someone in the <a href="http://lcl-discuss.media.mit.edu">forum</a>, or <a href="mailto:lcl-2017-support@media.mit.edu">contact us</a>!</p>
		</div> <!-- col -->
	</div> <!-- row -->
</div>