---
layout: default
---
{% assign current = page.url | downcase | split: '/' %}
{% include components/title.html %}

<div class="container lcl-content">
	<div class="row justify-content-center">
		<div id="watch-and-read" class="col-sm-10">
			{% assign title = "Watch & Read" %}
			{% assign color = "green" %}
			{% include components/section-title.html %}

			{% assign wr = page.watch-read %}
			{% assign additional = page.additional %}
		  {% include watch-and-read.html %}
		</div>

		<div id="make-and-share" class="col-sm-10">
			{% assign title = "Make & Share" %}
			{% assign color = "blue" %}
			{% include components/section-title.html %}

			{% assign m = page.make-share %}
			{% include make-and-share.html %}
		</div>

		<div id="reflect-and-discuss" class="col-sm-10">
			{% assign title = "Reflect & Discuss" %}
			{% assign color = "red" %}
			{% include components/section-title.html %}

			{% assign r = page.reflect %}
			{% include discuss-and-reflect.html %}
		</div>

	  <div id="meet-and-chat" class="col-sm-10 bg-grey p-4 mt-5">
	    {% assign title = "Meet & Chat" %}
			{% assign color = "yellow" %}
			{% include components/section-title.html %}

	    {% assign me = page.meet %}
	  	{% include meet-and-chat.html %}
	  </div>

	  <div id="additional" class="col-sm-10">
			{% assign wr = page.additional %}

			{% if wr %}
				{% assign title = "Want More?" %}
				{% assign color = "green" %}
				{% include components/section-title.html %}

			  {% include additional.html %}
			{% endif %}
		</div>

		<div id="offline-materials" class="col-sm-10 p-4">
			{% assign title = "Offline Materials" %}
			{% assign color = "blue" %}
			{% include components/section-title.html %}

	    {% assign dl = page.download %}
	  	{% include download.html %}
	  </div>

	</div> <!-- row -->
</div> <!-- container -->